
/*<---------------
#BANNER DE ABOUT 
----------------*/
.imgBannerAbout {
    height: 50rem;
    background-image: url(../imagen/banners/bannerIndex.jpg);
    background-size: cover;
    background-position: bottom;
}
.content-banner-about{
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5rem;
}
.content-banner-about div h2{
    font-size: 4rem;
    font-weight: 600;
    color: var(--colorBase);
}
.content-banner-about div p{
    max-width: 70rem;
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--colorTextoFuerte);
}

/*--------------------
#  SECCIÓN 1
---------------------*/
.section-1{
    margin-top: 5em;
    text-align: center;
}
.section-1 h2{
    font-size: 3rem;
    color: var(--colorTextoFuerte);
}
.potente {
    color: var(--colorBase5);
}
.section-1 p{
    max-width: 85rem;
    margin-top: 30rem;
    margin: auto;
    font-size: 1.6rem;
    color: var(--colorTexto);
    font-weight: 400;
    line-height : 3rem;
}
.imagen_nosotros {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.imagen_nosotros > div{
    width: 45%;
    height: 40rem;
}
.imagen_nosotros > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*debjo de la linea de imagenes*/

.lineaB {
    width: 80%;
    height: 2px;
    margin-bottom: 50px;
    background-color: var(--colorTexto);
}

.info_empresa {
    height: 400px;
    background-color: var(--colorBase6);
}

.info_empresa {
    font-size: 2em;
}

.info_empresa h2 {
    color: var(--colorResaltante);
}


/*se cierra debajo de la linea*/


/*SEXXION SEL VIDEO*/

.body .video {
    width: 100%;
    padding-top: 2em;
    height: auto;
    display: flex;
    flex-flow: column;
}

.section-2 {
    padding-top: 5em;
    font-size: 1em;
    color: var(--colorTexto);
    overflow: hidden;
    margin-bottom: 15em;
}

.text-content {
    width: 48%;
    height: auto;
    float: left;
    margin-left: 0em;
}

.text-content p {
    font-size: 1.6rem;
    color: var(--colorTexto);
    text-align: justify;
}

.text-content img {
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 15em;
}

.año_2019 {
    font-size: 3.5em;
    text-align: center;
}


/*videoPRINCIPAL*/

.video-section {
    padding-bottom: 2em;
    float: right;
    width: 48%;
    height: auto;
}

.video-section video {
    width: 100%;
}

/* -------SECCIÓN DE RESPONSIVE-------- */

/*----------------------------
#  RESPONSIVE DESIGN SECTION
----------------------------*/

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    /*-----------
    #  SECTION 1
    -----------*/
    .imagen_nosotros{
        flex-direction: column;
    }
    .imagen_nosotros div{
        width: 100%;
        margin-top: 5rem;
    }

    /*-----------
    #  SECTION 2
    -----------*/
    .text-content img {
        display: none;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section-2 div{
        width: 100%;
    }
    .video-section{
        margin-top: 2rem;
    }

}

@media only screen and (max-width: 375px) {}