
/*<---------------
#BANNER DE ABOUT 
----------------*/
.imgBannerAbout {
    height: 50rem;
    background-image: url(../imagen/banners/bannerIndex.jpg);
    background-size: cover;
    background-position: bottom;
    padding-top: 30rem;
}
.imgBannerAbout div h2{
    font-size: 4rem;
    font-weight: 600;
    color: var(--colorBase);
}
.imgBannerAbout div p{
    max-width: 70rem;
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--colorTextoFuerte);
}

/*--------------------
#  SECCIÓN 1
---------------------*/
.section-1{
    margin-top: 5em;
    text-align: center;
}
.section-1 h2{
    font-size: 3rem;
    color: var(--colorTextoFuerte);
}
.potente {
    color: var(--colorBase5);
}
.section-1 p{
    max-width: 85rem;
    margin-top: 30rem;
    margin: auto;
    font-size: 1.6rem;
    color: var(--colorTexto);
    font-weight: 400;
    line-height : 3rem;
}
.imagen_nosotros {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imagen_nosotros > img{
    display: block;
    max-width: 65rem;
    border: 1px solid black;
    height: 40em;
}


/*debjo de la linea de imagenes*/

.lineaB {
    width: 80%;
    height: 2px;
    margin-bottom: 50px;
    background-color: var(--colorTexto);
}

.info_empresa {
    height: 400px;
    background-color: var(--colorBase6);
}

.info_empresa {
    font-size: 2em;
}

.info_empresa h2 {
    color: var(--colorResaltante);
}


/*se cierra debajo de la linea*/


/*SEXXION SEL VIDEO*/

.body .video {
    width: 100%;
    padding-top: 2em;
    height: auto;
    display: flex;
    flex-flow: column;
}

.video {
    padding-top: 5em;
    font-size: 1em;
    color: var(--colorTexto);
    overflow: hidden;
    margin-bottom: 15em;
}

.lado_2019 {
    width: 48%;
    height: auto;
    float: left;
    margin-left: 0em;
}

.lado_2019 p {
    font-size: 1.8em;
    color: var(--colorTextoFuerte);
    text-align: justify;
}

.logopeque {
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 15em;
}

.año_2019 {
    font-size: 3.5em;
    text-align: center;
}


/*videoPRINCIPAL*/

.video_2019 {
    padding-bottom: 2em;
    float: right;
    width: 48%;
    height: auto;
}

.video_2019 video {
    width: 100%;

}


/*videoPRINCIPAL*/


/* -------SECCIÓN DE RESPONSIVE-------- */

@media only screen and (max-width:1360px) {
    .video_2019 {
        width: 100%;
        height: auto;
    }
}


/* ------- SECCIÓN DE RESPONSIBE */

@media only screen and (max-width:767px) {
    .informacion_nosotros {
        width: 95%;
    }
    .imagen_nosotros {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    .img_nosotros {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .img_nosotros img {
        width: 100%;
        margin-bottom: 2em;
        height: auto;
    }
    .video {
        width: 100%;
        height: auto;
        font-size: 0.9em;
        color: var(--colorTexto);
    }
    .lado_2019 {
        float: none;
        width: 95%;
        margin: auto;
        height: auto;
    }
    .lado_2019 p {
        text-align: justify;
    }
    .año_2019 {
        font-size: 4em;
        text-align: center;
    }
    .logopeque {
        display: none;
    }
    .video_2019 {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        padding-top: 3em;
        width: 95%;
        margin: auto;
    }
    /* SECCIÓN DE SERTIFICADOS DE LA EMPRES */
    .rm_linea {
        width: 100%;
        height: 2px;
        margin-bottom: 15px;
        background-color: var(--colorTexto);
    }
    .cajaDeSertificados {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    .sertificado {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .imgS1 {
        width: 200px;
        display: block;
        margin: auto;
        padding-bottom: 1em;
    }
    .imgS2 {
        width: 350px;
        display: block;
        margin: auto;
    }
}