/* SECCIÒN DE MENSAJES DEL BANNER */

.cajaMensajeBannerIndex {
    width: 60%;
    margin-top: 5em;
    padding: 2em;
    box-sizing: border-box;
}

.tituloBannerIndex2 {
    width: 100%;
    font-size: 4.5em;
    color: var(--colorBase);
}

.parrafoBanner {
    width: 100%;
    font-size: 2.5em;
    color: var(--colorTexto);
}

.botonServices {
    width: 8em;
    display: block;
    margin-top: 2em;
    padding: 0.5em;
    background-color: #F1C40F;
    text-align: center;
    border-radius: 0.3em;
    color: var(--colorBase);
    font-size: 1.5em;
    font-weight: 900;
}

.botonServices:hover {
    background-color: var(--colorBase);
    color: #ffffff;
}


/* ----------------SECCIÓN DE BOTON FLOTANTE*/
/* 
#cajaBotonFijo {
    display: block;
    font-size: 10px;
    width: 30em;
    height: 7em;
    background-color: var(--colorResaltante);
    border-radius: 1em 0em 1em 0em;
    position: fixed;
    top: 60em;
    right: 0em;
    z-index: 100;
} */

/* .icoTelefonoFlotante {
    width: 3.5em;
    float: left;
    margin-right: 1.5em;
    margin: 2em 1.5em 0em 1em;
} */

/* .tituloFlotante {
    float: left;
    color: #ffffff;
    font-size: 3.5em;
    margin-top: 0.4em;
    font-weight: 900;
} */


/*NAV RESPONSIVE*/

.rm_navEmpresa_r {
    display: none;
    width: 90%;
    height: 500px;
    position: absolute;
    background-color: #ffffff;
}

.activarMenuResponsive {
    display: block;
}

.cajaDeIconosResponsive {
    overflow: hidden;
}

.imgMenu {
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
    float: left;
    cursor: pointer;
}

.imgMenu2 {
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
    display: blok;
    float: left;
    cursor: pointer;
}

.imgMenuCerrar {
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
    display: blok;
    float: right;
    cursor: pointer;
}

.nav_r {
    font-size: 10px;
    float: none;
    display: block;
}

.nav_r>a>li {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1.5em;
    color: var(--colorBase);
    font-size: 2em;
}


/* ------------------------ SECCIÓN DE RESPONSIBE */

@media only screen and (max-width:1366px) {
    #cajaBotonFijo {
        font-size: 8px;
        top: 60em;
    }
    .imgBannerIndex {
        width: 100%;
        height: 60em;
        background-image: url(../imagen/banners/remodelacion2.jpg);
        background-size: cover;
        background-position: bottom;
        padding-top: 3em;
    }
    #cajaBotonFijo {
        top: 60em;
    }
}

@media only screen and (max-width:1000px) {}


/* ------- SECCIÓN DE RESPONSIBE */

@media only screen and (max-width:767px) {
    /* SECCIÓN BARRA DE CONTACTO */
    .rm_barrraContanto {
        height: 50px;
        position: fixed;
        z-index: 100;
    }
    .tituloContacto {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: 900;
        text-align: end;
        margin-right: 0.5em;
    }
    .imgMenu {
        display: block;
    }
    .imgBannerIndex {
        /* CAJA DEL BANNER */
        width: 100%;
        height: auto;
        padding-bottom: 2em;
    }
    .imgEmpresa {
        width: 70%;
        height: auto;
        float: none;
        display: block;
        margin: auto;
        margin-top: 6em;
    }
    /* CONFIGURACIÓN GENERAL DEL BANNER */
    .confiGeneral {
        display: none;
    }
    .textoBannerGeneral {
        padding: 0;
        font-size: 8px;
        margin-top: 10em;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .cajaMensajeBannerIndex {
        width: 100%;
        height: auto;
        margin-top: 3em;
        padding: 0em;
    }
    .tituloBannerIndex2 {
        width: 100%;
        font-size: 3.5em;
        text-align: center;
    }
    .parrafoBanner {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .botonServices {
        width: 10em;
        display: block;
        margin: auto;
        margin-top: 2em;
    }
    /* SECCIÓN DE BOTO FLOTANTE */
    .icoResponsive {
        width: auto;
        height: auto;
        position: fixed;
        bottom: 0px;
        right: 0;
        z-index: 100;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    #cajaBotonFijo {
        font-size: 10px;
        width: 7em;
        height: 7em;
        background-color: var(--colorResaltante);
        border-radius: 100px;
        position: static;
    }
    .icoTelefonoFlotante {
        width: 3.5em;
        float: left;
        margin-right: 0em;
        margin: 2em 1.5em 0em 1.5em;
    }
    .tituloFlotante {
        display: none;
    }
}