/*codigo de banners*/


/* SECCIÒN DE MENSAJES DEL BANNER */

.cajaMensajeBannerIndex {
    width: 60%;
    margin-top: 5em;
    padding: 2em;
    box-sizing: border-box;
}

.tituloBannerIndex2 {
    width: 100%;
    font-size: 4.5em;
    color: var(--colorBase);
}

.parrafoBanner {
    width: 100%;
    font-size: 2.5em;
    color: var(--colorTexto);
}

.botonServices {
    width: 8em;
    display: block;
    margin-top: 2em;
    padding: 0.5em;
    background-color: #F1C40F;
    text-align: center;
    border-radius: 0.3em;
    color: var(--colorBase);
    font-size: 1.5em;
    font-weight: 900;
}

.botonServices:hover {
    background-color: var(--colorBase);
    color: #ffffff;
}


/* IMG DE BANNER DE LA PAGINA */

.imgBannerContacts {
    background-image: url(../imagen/banners/imgContact.jpg);
}

.contactos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10em;
}

.c_cajaIzquierda {
    width: 50%;
    overflow: hidden;
}

.c_cajaDerecha {
    width: 50%;
}


/* SECCION DE FORMULARIO */

.formularioDeContacto {
    width: 100%;
    float: left;
}

.inputDesing {
    border: none;
    border-bottom: 1px solid var(--colorBase);
    outline: none;
    height: 40px;
}

.icoFormulario {
    width: 40px;
}

.titulo1 {
    font-size: 3em;
    margin-top: 1em;
    color: #151618;
}

.cajaDatosPersonales {
    margin-top: 3em;
    overflow: hidden;
}

.cajaDatosPersonales input {
    width: 20em;
}

.cajaNombre {
    float: left;
    width: 300px;
}

.cajaCorreo {
    float: right;
}

.datosSolicitud {
    width: 100%;
    margin-top: 3em;
}

.datosSolicitud input {
    width: 100%;
}

.cajaMensaje {
    margin-top: 5em;
}

.textoMensaje {
    color: gray;
    font-size: 1.3em;
}

.mensajeRedactado {
    margin-top: 1em;
    outline: none;
    border: none;
    border: 1px solid var(--colorBase);
    border-radius: 5px;
    width: 100%;
    height: 300px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    box-sizing: border-box;
    font-size: 1.7em;
}

.botonEnviarFormulario {
    background-color: var(--colorBase);
    padding: 10px;
    display: block;
    width: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    border-radius: 100px;
}

.botonFormulario {
    margin-top: 3em;
    margin-bottom: 3em;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.mapa_celular {
    display: none;
}

.mapa {
    padding: 4em;
}


/* Secciónd e configuración mobil */

@media only screen and (max-width:767px) {
    /* CONFIGURACIÓN GENERAL DEL BANNER */
    .textoBannerGeneral {
        padding: 0;
        font-size: 8px;
        margin-top: 10em;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .cajaMensajeBannerIndex {
        width: 100%;
        height: auto;
        margin-top: 3em;
        padding: 0em;
    }
    .tituloBannerIndex2 {
        width: 100%;
        font-size: 3.5em;
        text-align: center;
    }
    .parrafoBanner {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    /*     .botonServices {
    width: 10em;
    display: block;
    margin: auto;
    margin-top: 2em;
} */
    .c_cajaIzquierda {
        width: 100%;
        float: none;
    }
    .c_cajaDerecha {
        width: 100%;
        float: none;
    }
    .cajaFormulario {
        width: 95%;
        overflow: hidden;
    }
    .imgFormulario {
        float: none;
        width: 100%;
        height: 60em;
    }
    .formularioDeContacto {
        float: none;
        width: 80%;
        margin: auto;
        margin-top: 5em;
    }
    .cajaDatosPersonales input {
        width: 100%;
    }
    .cajaNombre {
        float: none;
        width: 100%;
    }
    .cajaCorreo {
        float: none;
        width: 100%;
    }
    .mensajeRedactado {
        font-size: 1.3em;
    }
    .botonEnviarFormulario {
        background-color: rgba(85, 82, 255, 1);
        padding: 10px;
        display: block;
        width: 100px;
        color: #ffffff;
        text-align: center;
        font-size: 1.5em;
        margin-top: 1em;
        float: right;
    }
    .mapa {
        display: none;
    }
    .mapa_celular {
        display: inline-block;
        width: 100%;
        padding-bottom: 2em;
    }
    /* SECCIÓN BARRA DE CONTACTO */
    .rm_barrraContanto {
        height: 50px;
        position: fixed;
        z-index: 100;
    }
    .tituloContacto {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: 900;
        text-align: end;
        margin-right: 0.5em;
    }
    .imgMenu {
        display: block;
    }
    .imgBannerIndex {
        /* CAJA DEL BANNER */
        width: 100%;
        height: auto;
        padding-bottom: 2em;
    }
    .imgEmpresa {
        width: 70%;
        height: auto;
        float: none;
        display: block;
        margin: auto;
        margin-top: 6em;
    }
}