
/* IMG DE BANNER DE LA PAGINA */

.imgBannerEmergency {
    background-image: url(../imagen/banners/bannerIndex.jpg);
}

/*-------------------------------
#  SECCIÓN DEL EMERGENCY24-BOX
-------------------------------*/
.emergencia24-box {
    background-color: var(--colorResaltante);
    margin-top: 5em;
    color: white;
    text-align: center;
    padding: 1em 2em;
}
.emergencia24-box h1{
    font-size: 4em;
}
.emergencia24-box p{
    font-size: 2em;
}

/*---------------------------------
#  SECCIÓN EMERGENCY INFORMATION
---------------------------------*/
.information-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6em;
    margin-bottom: 5em;
}
.left-box{/*<---------- left-box */
    width: 40em;
    height: 30em;
    background-color: var(--colorBase);
    padding: 2.5em;
}
.left-box > h2 {
    font-size: 3em;
    color: #fff;
}
.left-box > p {
    font-size: 2em;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 2em;
}
.contact-line{
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding: 0.5em 1em;
    transition: 0.3s;
}
.contact-line:hover{
    background-color: var(--colorResaltante);
    transition: 0.3s;
}
.contact-line:not(hover){
    transition: 0.3s;
}
.contact-line img{
    width: 2em;
    margin-right: 3em;
}
.contact-line span{
    color: #fff;
    font-size: 2em;
}
.right-box {/*<---------- right-box */
    width: 90em;
}
.right-box > img {
    width: 100%;
}
.right-box-description{
    margin-top: 1em;
}
.right-box-description h2 {
    font-size: 4em;
    color: var(--colorTextoFuerte);
}
.text-decoration{
    color: var(--colorBase2);
}
.right-box-description p {
    font-size: 2em;
    margin-top: 1em;
    color: var(--colorTextoFuerte);
}

/*---------------------------------
#  SECCIÓN DEL MAPA
---------------------------------*/
.map-box{
    margin-bottom: 10em;
}
.map-box iframe{
    width: 100%;
    height: 50em;
}

